@layer font, reset, base, component, utilities;

@layer font {
  @font-face {
    font-display: swap;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/overpass-v19-latin-regular.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/overpass-v19-latin-700.woff2') format('woff2');
  }
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  *:not(dialog) {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    text-wrap: balance;
  }
  a:not(class) {
    text-decoration: none;
    color: inherit;
    color: oklch(0.4657 0.1321 270.05);
    &:hover {
      color: var(--accent-color);
      /* color: var(--text-color-dark); */
      cursor: pointer;
    }
  }

}

@layer base {
  :root {
    /* Colors */
    --orange-500: oklch(0.7093 0.1889 47.74);
    --white: oklch(1 0 0);
    --grey-500: oklch(0.6968 0.0227 259.94);
    --grey-900: oklch(0.2939 0.0207 253.61);
    --grey-950: oklch(0.19 0.0067 258.37);
    --accent-color: var(--orange-500);

    /* Topography */
    --font-size: 1.5rem;
    --font-family: 'Overpass';
    --text-color-light: var(--white);
    --text-color-light-sec: var(--grey-500);
    --text-color-dark: var(--grey-950);

    /* Spacing / Padding */
    --spacing-1: 12px;
    --spacing-2: 24px;
    --spacing-3: 36px;
    --spacing-4: 48px;

    /* Background Colors */
    --bg-footer: var(--bg-card);
    --bg-main: var(--grey-950);
    --bg-card: linear-gradient(180deg,
        hsl(213deg 20% 18%) 0%,
        hsl(214deg 18% 16%) 20%,
        hsl(220deg 17% 14%) 100%);
  }

  html {
    font-size: 62.5%;
  }

  body {
    position: relative;
  }

  .page-container {
    background-color: var(--bg-main);
    color: var(--text-color-light-sec);
    display: grid;
    font-family: var(--font-family);
    font-size: var(--font-size);
    min-height: 100dvh;
    position: relative;
    grid-template:
      'main' 1fr
      'footer' auto
      / 1fr;
  }

  main {
    grid-area: main;
    display: grid;
    place-items: center;
    padding-block: 1rem;
  }

  .rating-widget {
    background: var(--bg-card);
    width: min(100% - var(--spacing-4), 37rem);
    margin: 0 auto;
    padding: var(--spacing-2);
    border-radius: 16px;
    h1 {
      margin-bottom: var(--spacing-1);
      color: var(--text-color-light);
      font-weight: 700;
    }

    /* Rating Container */
    .rating {
      display: grid;
      .icon {
        height: 2rem;
        width: 2rem;
      }

      .icon-wrapper {
        background-color: var(--bg-main);
        display: grid;
        place-items: center;
        height: 5rem;
        width: 5rem;
        border-radius: 100%;
        margin-bottom: var(--spacing-3);
      }

      .rating__scores {
        margin-block: var(--spacing-2);
        display: flex;
        gap: var(--spacing-1);
        flex-wrap: wrap;

        span {
          font-weight: 700;
          display: grid;
          place-items: center;
          background-color: var(--bg-main);
          border-radius: 100%;
          height: 5rem;
          width: 5rem;
          font-size: 1.7rem;

          &:hover {
            background-color: var(--accent-color);
            color: var(--text-color-dark);
            cursor: pointer;
          }
        }
      }
    }

    /* Thank you container */
    .thank-you-container {
      text-align: center;
      padding-inline: var(--spacing-2);
      :is(:last-child) {
        margin-bottom: var(--spacing-2);
      }
      & .icon {
        height: 15rem;
        width: 15rem;
        margin: 0 auto;
        margin-bottom: var(--spacing-1);
      }
      & .label {
        border-radius: 15px;
        padding: 0.3rem 1.5rem;
        margin: 0 auto var(--spacing-2);
        width: max-content;
        color: var(--accent-color);
        background-color: oklch(0.3936 0.0218 253.63 / 0.3);
      }
    }
  }

  #page-footer {
    grid-area: footer;
    text-align: center;
    padding-block: var(--spacing-1);
    background: var(--bg-card);

    & .attribution {
      --cont-m-width: 144rem;
      width: min(100% - var(--spacing-4), var(--cont-m-width));
      margin: 0 auto;
    }
  }
}

@layer component {
  button {
    padding: 1rem;
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
  }
  button[data-type="primary"] {
    background-color: var(--accent-color);
    &:hover {
      background-color: var(--white);
      color: var(--text-color-dark);
    }
  }
}

@layer utilities {
  .selected {
    background-color: var(--white);
    color: var(--text-color-dark);
  }
  .hidden {
    display: none;
  }
}

